.whole{
    height: 100vh;
    width: 100%;
    text-align: center;
     
    color: white;
    overflow: hidden;
    background: #C04848;  /* fallback for old browsers */
    
     /* background: linear-gradient(rgb(218,0,17,0.8), rgb(213, 15, 61, 0.6)), url("../sign-up/image/template3.PNG");
     */
    background-size: cover;
    background-repeat: no-repeat;
} 
 .container{
    height: 70vh;
    width: 80%;
    display: flex;
    flex-flow: row;
    
}
.side-one{
    height: 80vh;
    width: 50%;
    
    margin-top: 40px; 
   
    
    
    
 }
.side-two{
    height: 80vh;
    width: 50%;
    /* background-color: blue; */
    margin-top: 80px;
     background: linear-gradient(rgb(218,0,7,0.8), rgb(213, 15, 61, 0.6)), url("../sign-up/images/template3.PNG");  
    background-size: cover;
    background-repeat: no-repeat;
    

}
.form-control {
    width: 520px;
    background-color:rgba(136, 16, 16, 0.596);
    color:white;
    border-radius: 30px;
} 
.log{
    width: 120px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
}
::placeholder{
    color: white;
}