<section>
  <div class="whole">
      <div class="container">
          <div class="side-one rounded-end ">
            <input type="text" name="" id="" class="form-control" placeholder="email" [(ngModel)]="logEmail">
            <input type="text" name="" id="" class="form-control" placeholder="password" [(ngModel)]="logPassword" >
            <button  (click)="logIn()" class="log btn ">Log in</button>
    
          </div>
          <div class="side-two rounded-start" >
            <h6 >Welcome to Scotia Bank</h6>
            <img src="assets/back.png" alt="" style="height: 120px;width: 120px;">
           <h1 style="font-size: 55px;">Make a</h1>
           <h1>Dream</h1>
           
          </div>
        
      </div>
    
    

  </div>  
</section>
