<section >
    <div class=" whole">
        <p class="text-light d-flex justify-content-end"   >Account Number:{{accountNumber}}</p> 

        <img src="assets/passport.png" alt="" style="border-radius: 120px; height: 60px;width: 60px;margin-left: 50px; transform: translateY(-30px);"> <span class="text-light" style="font-size: 20px;">Hello  <span class="text-light" style="font-size: 30px;font-family: Arial, Helvetica, sans-serif;transform: translateY(-40px) !important;">{{firstName}}</span> </span>  
        <!-- <p class="text-light d-flex justify-content-center ">Balance</p>
         -->
        <!--  -->
             <!-- <div class="d-flex justify-content-center" style="margin-top: 80px;">
           

            <button class="transfer shadow" ><img src="assets/send-removebg-preview (2).png" alt="" srcset="" style="height: 60px;width: 60px;"></button>
            <button class="transfer" ><img src="assets/top-removebg-preview.png" style="height:60px;width: 60px;" alt="" srcset=""></button>
            <button class="transfer" >Send Money</button>
            <button class="transfer" >Send Money</button>
            <button class="transfer" >Send Money</button>
        </div> -->

        <!-- <div class="from shadow" style="margin-left: 530px;transform: translateY(29px);">
           <div >
               <p class="display-6 shadow" style="font-size: 30px;" class="pt-3"> Transfer From:</p>
               <hr>
              
                 <p class="lead " style="font-size: 24px;margin-left: 12px;">{{package}} Account: {{accountNumber}} </p>

           </div>
        </div>

        

    </div> -->

<div class="personal rounded-start ">
    <p style="margin-left: 12px;" >{{secondName}} {{firstName}} {{thirdName}}</p>
    <h3 class="text-dark "  style="margin-top: -15px;margin-left: 15px;">NGN {{accountBal}}:00</h3>
    <p class="lead " style="font-size: 17px;margin-left: 12px;margin-top: 50px;">{{package}} Account: {{accountNumber}} </p>

    <!-- modal  starts here-->
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Fund Account
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Input amount" [(ngModel)]="amountInputed">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="fundMyAccount()">Fund</button>
        </div>
      </div>
    </div>
  </div>


    <!-- modal ends here -->
    
</div>

    </div>

    
</section>


<!-- utility section -->
<section>
    

        <div class="send rounded m-3 "(click)="transfer()" >
            <!-- <img src="assets/transfer-removebg-preview.png" alt="" srcset="" style="height: 120px;width: 120px;"> -->
          <h3 class="text-light " >Send Money</h3>
    
        </div>
    <div class="transaction rounded m-3 ">
        

    </div>

    <div class="fund rounded m-3 ">
    <h3>Bill</h3>
    </div>

    <div class="pay_bills rounded  " (click)="history()">
        <h3 class="text-light"  >History</h3>
    </div>
    
    <div class="loans rounded ">

    </div>
    <div class="electricity rounded ">
        <img src="assets/electricity-removebg-preview.png" alt="" style="height: 120px;width: 120px;">
        <p class="text-light d-flex justify-content-end" style="font-size: 19px;margin-top: -12px;">Electricity</p>
    </div>
    <div class="data ">

    </div>
    <div class="subscribtion ">

    </div>
    <div class="fixed" >

    </div>

    <div class="credit">

    </div>


</section>
